{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg2.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>О нас</h1>
                    <span class="subheading">Чем мы занимаемся</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="post-title">ТСЖ "Новосмоленская 2"</h2>
                <p>ИНН 7801412104 КПП 780101001</p>
                <p>Председатель правления: Гагарина Людмила Петровна</p>
                <p>Адрес: г. Санкт-Петербург, наб. Новосмоленская, д. 2</p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}