{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Контакты</h1>
                    <span class="subheading">Есть вопросы? Мы ответим на них</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flashes content">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <p>Хотите связаться? Заполните форму ниже для отправки сообщения. Мы ответим, как только сможем!</p>
            {{ ckeditor.load(pkg_type='basic') }}
            {{ ckeditor.config(name='text') }}
            {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'primary'}) }}
        <hr>
        <h3>Контакты:</h3>
        <p>Председатель правления: <span class="float-right">Гагарина Людмила Петровна</span><br>
            Телефон: <span class="float-right">+79219084073</span> <br>
            Email: <span class="float-right">9084073@mail.ru</span></p>
        <p>Бухгалтер: <span class="float-right">Ирина Владимировна</span><br>
            Телефон: <span class="float-right"></span><br>
            Email: <span class="float-right">ns2buh@mail.ru</span></p>
        <hr>
        <h3>Телефоны служб:</h3>
        <p>Телефон консьержной: <span class="float-right">6633035</span></p>
        <p>Техподдержка сайта: <span class="float-right">+79966309969 Михаил</span></p>

        </div>
    </div>
</div>

<hr>
{% include "footer.html" %}