{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/smolenka.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="mx-auto text-nowrap">НОВОСМОЛЕНСКАЯ 2</h1>
                    <span class="subheading">Товарищество собственников жилья
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <!-- New Post -->
            {% if current_user.is_authenticated and current_user.level > 2 %}
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Создать новую запись</a>
            </div>
            {% endif %}

            {% for post in all_posts | reverse %}
            <div class="post-preview">
                <a href="{{ url_for('show_post', post_id=post.id) }}">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post.subtitle}}
                    </h3>
                </a>
                <p class="post-meta">Опубликовано
                    <a href="#">{{post.author.name}} {{ post.author.lastname }}</a>
                    {{post.date}}
                    {% if current_user.is_authenticated and (current_user.level > 3 or current_user.id == post.author_id) %}
                    <a class="text-danger" href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
                    {% endif %}
                </p>
            </div>
            <hr>
            {% endfor %}

        </div>
    </div>
</div>
<hr>

{% include "footer.html" %}